{{ template "theme/partials/header.html" . }}

{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
{{ range $paginator.Pages }}
<div class="article">
  <div class="article-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </div>
  <p class="meta"><small><i class="fa fa-calendar-o"></i> {{ .Date.Format  "2006-01-02" }}</small></p> <hr/>
  <div class="post">
    {{ .Summary }}

    {{ if .Truncated }}
    <a class="read-more" href="{{ .Permalink }}">
      <span>Read on...</span>
    </a>
    {{ end }}
  </div>
</div>
{{ end }}

{{ template "_internal/pagination.html" . }}

{{ template "theme/partials/footer.html" . }}
